html  {
  background-color: white;
  font-family: 'Georgia', normal;
  font-weight: normal;
}

h1, h2, h3  {
  color: #A70044;
  font-family: 'Sigmar One', cursive;
}

h1, figcaption, aside  {
  text-align: center;
}

span, blockquote  {
  color: #B8B800;
  text-align: center;
  display: block;
  font-style: italic;
}

figcaption, dl  {
  font-style: italic;
}

dl dt  {
  font-style: normal;
  font-weight: bold;
}

dl dd  {
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

a {
  color: #A70044;
}
