html  {
  background-color: white;
  font-family: 'Georgia', normal;
  font-weight: normal;
  line-height: 1.5rem;
  max-width: 600px;
  min-width: 320px;
}

header, aside {
  background-color: #FFEC0A;
  margin: 0;
  padding: 25px;
  line-height: 2rem;
}

ol {
  margin: 0;
}

h1, h2, h3  {
  color: #A70044;
  font-family: 'Sigmar One', cursive;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2{
  font-size: 1.9rem;
}

h1, figcaption, aside  {
  text-align: center;
}

img {
  width: 100%;
}

figure{
  background-color: #fffce0;
  padding: .75em;
  border-radius: .5em;
  border: 2px solid #b2a215;
  text-align: center;
  font-size: .75em;
  line-height:1.5em;
}

li {
  padding: .5em;
  border-radius: .2em;
  background-color: #b2a215;
  display: inline;
}

aside, figcaption {
  font-size: 0.85rem;
}

span {
  font-size: 3rem;
}

blockquote {
  font-size: 1.1rem;
}

span, blockquote  {
  color: #b2a215;
  text-align: center;
  display: block;
  font-style: italic;
}

figcaption, dl  {
  font-style: italic;
}

dl dt  {
  font-style: normal;
  font-weight: bold;
}

dl dd  {
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

a {
  color: #A70044;
}
